<div class="full-content">
    {{#each item in controller}}
        <div class="row {{unbound even index}}">
            <p class="meta {{unbound even index}}"><span>Posted on </span>{{ date-with-month item.date }}</p>
            <h1 class="big {{unbound even index}}" class="text_entry">{{#link-to 'archive' item}}{{item.title}} {{/link-to}}</h1>
        </div>
    {{/each}}
</div>
